Repository m20-sch57/thetruehat, pull requests merged in 2020-07, with the labels that each got.

#235 Added server game termination after fixed number of rounds support
  config.json
  docs/API_agreements.md
  docs/Web_API.md
  server.js
Labels: API, back, enhancement

#239 Fixed server bugs
  server.js
Labels: back, bug

#241 Server Turn Term Bugfix
  server.js
Labels: back, bug

#236 Added server timetable implementation
  config.json
  docs/Web_API.md
  server.js
Labels: API, back, enhancement

#254 Updated API
  docs/API_agreements.md
  docs/Web_API.md
Labels: API, invalid
