Repository m20-sch57/thetruehat, pull requests merged in 2021-02, with the labels that each got.

#318 Fixed some api problems:
  docs/API_agreements.md
  docs/Web_API.md
Labels: API, documentation

#313 Added api for "random" and "host" pair matching
  docs/API_agreements.md
  docs/Web_API.md
Labels: API, documentation

#323 Pair matching api suggestion (from #322)
  docs/Web_API.md
Labels: API, bug

#324 Server side upgrade caused by API corrections
  config.json
  server.js
Labels: back

#327 Pair matching issue: Server upgrade
  config.json
  docs/API_agreements.md
  docs/Web_API.md
  server.js
Labels: back, enhancement
